@charset "UTF-8";


:root {
  --device: desktop;
}  

.dt-body-nowrap {
   white-space: nowrap;
}

.backButton {
	font-size: 0.9rem;
	position: absolute; 
	z-index: 10;
	padding-left: 0.2rem;
  padding-top: 0.2rem;
}
 
button {
	border-width: 0.1rem !important;
	padding-inline: 0px !important;
	border-radius: 7px
}
 
.dataTables_length {
	max-width: 9rem;
	display: inline;
	float: left;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}
.dataTables_filter {
	max-width: 26rem;
    display: inline-block;
    padding-right: 1.5rem;
}

.ctypeSearch {
    display: inline-block;
}
 
.selectCtypeDiv {
    left:5rem;
    min-width:23rem;
    z-index:99;
    position:fixed;
    opacity:1;
    background:white;
    border: 0.125rem solid #00bce9; 
    border-radius: 7px;
    border-width: 0.4rem;
    padding: 2rem;
}  
.selecCtypeSpan {
	padding-right:1rem
}
 
#waitPlease {
	font-size: 1.9rem;
	text-align: center;
} 



 
@media only screen and (max-width: 500px) {	
	
	:root {
  	--device: mobile;
	}  
	
	
	html {
		font-size: 0.85rem !important;
	}
	
	.boxCentered {
		margin-left: 0px !important;
	}
 
	.boxform {
    padding: 0.4rem 0.4rem; 
    margin-bottom: 0.1rem; 
    margin-left: 0.1rem; 
    margin-right: 0.1rem;  
    border: 0.2rem solid #00bce9; 
	} 
	
	.box {
    padding: 0px 0px;
    padding-left: 0.25rem;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 0.1rem solid #00bce9;
	}
	
	
	
}