@charset "UTF-8";


:root {
  --device: desktop;
}  

.dt-body-nowrap {
   white-space: nowrap;
}

.backButton {
	font-size: 0.9rem;
	position: absolute; 
	z-index: 10;
	padding-left: 0.2rem;
  padding-top: 0.2rem;
}
 
button {
	border-width: 0.1rem !important;
	padding-inline: 0px !important;
	border-radius: 7px
}
 
.checkBoxes {
	border: 0.125rem solid #00bce9; 
	min-width: 5rem; 
	border-radius: 7px;
  line-height: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
} 
 
#waitPlease {
	font-size: 1.9rem;
	text-align: center;
} 
 
@media only screen and (max-width: 500px) {	
	
	:root {
  	--device: mobile;
	}  
	
	
	html {
		font-size: 0.8rem;
	}
	
	.boxCentered {
		margin-left: 0px !important;
	}
 
	.boxform {
    padding: 0.4rem 0.4rem; 
    margin-bottom: 0.1rem; 
    margin-left: 0.1rem; 
    margin-right: 0.1rem;  
    border: 0.2rem solid #00bce9; 
	} 
	
	.box {
    padding: 0px 0px;
    padding-left: 0.25rem;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 0.1rem solid #00bce9;
	}
	
	
	
}