@charset "UTF-8";
 
 
     .table-wrapper {
        margin-top: 10px;
    }

    :enabled {
      background: #EBF5FB;
    }

    :disabled {
      background: #dddddd;
      color: #EFF5FB;
    }


    .table  {
        /* background-color:#123456 !important;
        color: white; */
        border-collapse: collapse;
        border: 1px solid blue;
        border-radius: 25px;

    }

    .tableRow{
    	cursor:pointer;
    }

    table.rounded  {
        border-collapse: collapse;
        /*border: 1px solid lightblue;
        border-radius: 25px;*/
    }
    p.rounded {
      border: 1px solid blue;
      border-radius: 25px;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .box {
	    padding: 5px 20px;
	    margin-bottom: 5px;
      margin-left: 5px;
      border: 1px solid #00bce9;
      border-radius: 7px;
      background-color: white;
      overflow-x:auto;
  }

.boxCentered {
  padding: 5px 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1px solid #00bce9;
  border-radius: 7px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  overflow-x:auto;
}

  .boxform {
    padding: 5px 20px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #00bce9;
    border-radius: 7px;
    background-color: #f1f1f1;
    overflow-x:auto;
}

.boxsubmit {
  padding: 5px 20px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #00bce9;
  border-radius: 7px;
  background-color: #f1f1f1;
  text-align: center;
  overflow-x:auto;
}



/*.inputFieldStyle {
	width: 160px;
    display: block;
    float: left;

    margin-right: 10px;
    margin-bottom: 10px;
}*/

/*.inputFieldStyle > select {
    width: 100%;
    height: 24px;
}*/

.inputSearchFields {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}

.inputSubmitFields {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inputSearchFields > div,
 .inputSubmitFields > div{
  text-align: left;
  margin-top: 7px;
  margin-left: 12px;
  padding-bottom: 12px;
}


.inputSearchFields > div > label {
  text-align: left;
  margin-bottom: 4px;
  font-size: 13px;
}

.inputSearchFields > div > select {
  text-align: left;
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 30px;
  max-height: 200px;
}

.inputSearchFields > div > button {
  font-size: 11px;
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
}

.inputSearchFields > div > button:enabled {
  background: #28B463;
}

.inputSearchFields > div > button:disabled {
   background: #dddddd;
   width:140px;
}



.box > h3,
.boxform > h3 {
  text-align: left;
  font-size: 17px;
}

.box > h4,
.boxform > h4 {
  text-align: center;
  font-size: 17px;
}

.boxform > h2 {
  text-align: center;
  font-size: 1.875em;
  font-family: Arial, Helvetica, sans-serif;
}

.boxform .textAreaClass{
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;

  box-shadow: rgb(216, 216, 216) 1px 1px 3px 2px inset;
  border-radius: 7px;
}


/*.box > inputFieldStyle {
	width: 260px;
    display: block;
    float: center;
    margin-top: 12px;
    padding-left: 20px;
}*/

.formWrapper {
  padding-top:  15px;
  padding-bottom:  30px;
  background-color: #5499C7;
  background-image: linear-gradient(#93B3FD, white );
}

.inputTextFieldLong {
    height: 30px;
    width: 170px;
    box-shadow: rgb(216, 216, 216) 1px 1px 3px 2px inset;
    border-radius: 7px;
}

.inputTextFieldShort {
    height: 30px;
    width: 70px;
    box-shadow: rgb(216, 216, 216) 1px 1px 3px 2px inset;
    border-radius: 7px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.th-sm {
  cursor: pointer;
}

#helpIcon
{
  cursor: pointer;
  padding-top:12px;
}
.picContainer {
  position: relative;
  text-align: center;
  color: red;
}

.container{
  padding-top:20px;
}


.spi-area-pos {
  position: absolute;
  top: 26.5%;
  left: 73%;
}

.sl-pos {
  position: absolute;
  top: 37.5%;
  left: 73%;
}

.p-pos {
  position: absolute;
  top: 42%;
  left: 73%;
}

.smg-pos {
  position: absolute;
  top: 51.5%;
  left: 73%;
}

.i-pos {
  position: absolute;
  top: 55%;
  left: 73%;
}

.jl-pos {
  position: absolute;
  top: 60.5%;
  left: 73%;
}

.fore-area-pos {
  position: absolute;
  top: 66.5%;
  left: 73%;
}

.spl-pos {
  position: absolute;
  top: 70.5%;
  left: 73%;
}

.sf-pos {
  position: absolute;
  top: 75.5%;
  left: 73%;
}

.j-pos {
  position: absolute;
  top: 79%;
  left: 73%;
}

.loa-pos {
  position: absolute;
  top: 90%;
  left: 73%;
}

.lwl-pos {
  position: absolute;
  top: 94%;
  left: 73%;
}

.muw-pos {
  position: absolute;
  top: 12.5%;
  left: 29%;
}

.mtw-pos {
  position: absolute;
  top: 20.5%;
  left: 29%;
}

.mhw-pos {
  position: absolute;
  top: 37.5%;
  left: 29%;
}

.mhw-pos,
.mtw-pos,
.muw-pos,
.lwl-pos,
.loa-pos,
.j-pos,
.sf-pos,
.spl-pos,
.fore-area-pos,
.jl-pos,
.i-pos,
.smg-pos,
.p-pos,
.sl-pos,
.spi-area-pos > font{
  font-size: 1vw;
}

.bottom-right {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

.material-icons {
  float:right;
}


.select2-results__option {
  font-size: 12px;
}


@media print {
  .new-page {
    padding-top: 20px;
    page-break-before: always;
  }
}